.test-layout {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.w-50p {
  width: 100%;
  background: #ec4343;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}
